:root {
    --logo: rgba(60, 151, 68, 0.719);
}

span {
    font-weight: 700;
    opacity: 0.6;
}

sub {
    color: var(--logo);
    display: initial;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.075);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#fermer {
    display: none;
}

.logo {
    position: fixed;
    text-decoration: none;
    color: white;
    z-index: 1000;
    font-size: 2rem;
}

.nav {
    display: flex;
    width: 98vw;
    height: 10%;
    justify-content: right;
    gap: 3%;
    position: fixed;
    top: 1vh;
    transition: 1s ease-in-out;
    font-size: 1.5rem;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 4vh;
    display: inline-block;
    cursor: pointer;
    transition: .6s ease;
}

.nav a:hover {
    color: var(--logo);
}

.image {
    background-image: url('Maskot.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.4);
    height: 95%;
    transition: height 2s ease;
}

header h1 {
    position: relative;
    bottom: 50vh;
    font-size: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#menu-icon {
    position: absolute;
    top: 4vh;
    right: 5vw;
    font-size: 40px;
    color: white;
    cursor: pointer;
    object-fit: cover;
    display: none;
}



/*La section a propos*/


.propos {
    width: 100%;
    position: relative;
    margin-top: 20vh;
    background-color: white;
}


.propos div {
    display: flex;
    justify-content: center;
}

.propos img {
    height: 200px;
    width: 180px;
    border-radius: 50%;
    outline: var(--logo) ridge 1vh;
    filter: brightness(0.8);
    position: relative;
}

.propos h2 {
    text-align: center;
    font-size: 4vh;
    color: azure;
    -webkit-text-stroke: 0.1vh rgba(0, 0, 0, 0.664);
    word-spacing: 3px;
    letter-spacing: 1px;
}

.propos h3 {
    text-align: center;
}

.propos p {
    position: relative;
    left: 20%;
    text-align: center;
    max-width: 60%;
    font-size: 2vw;
}

/*La partie services*/


#services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    gap: 5vh;
    margin-top: 20vh;
    background-color: white;
}

.services {
    width: 310px;
    text-align: center;
    height: 200px;
    border: 1px ridge rgba(0, 0, 0, 0.158);
    border-radius: 7px;
    transition: .6s ease;
    transform: rotate rotateY(0deg);
    position: relative;
    transform-origin: center;
}

.services:hover {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.199);
    transform: rotate3D(2, 2, 15, 360deg) rotateY(360deg);
}

.services i {
    font-size: 30px;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    outline: none;
    border-radius: 50%;
    opacity: 0.7;
    position: absolute;
    top: 10px;
    left: 120px;
    color: black;
    transition: .6s ease;
}

.services:hover i {
    border: 1px solid var(--logo);
    color: white;
    background-color: var(--logo);
}

.services h2 {
    position: relative;
    top: 40px;
}

.services p {
    position: relative;
    top: 40px;
display:none;
transition: 0.6s ease-in-out;
}

.services:hover p {
    display: block;
}
/* La partie competences */

.skills {
    min-height: auto;
    position: relative;
    margin-top: 20vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-row:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    width: 80vw;
}

.skills-row:nth-child(2) {
    width: 80vw;
}

.skills-row .skills-column {
    font-size: 1rem;
    margin: 0 0 1.5rem;
}

.skills-row .title {
    font-size: 1.5rem;
    margin: 0 0 1.5rem;
    text-align: center;
}

.skills-row .skills-content {
    position: relative;
    border: .2rem solid var(--logo);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
}


.skills-content .progress {
    padding: 0.3rem 0;
}

.skills-content .progress h3 {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: var(--logo);
}

.skills-content .progress .bar {
    height: 2vh;
    border-radius: .6rem;
    border: .2rem solid var(--logo);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .6rem;
    background-color: var(--logo);
}


.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 85%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 65%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 60%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
    width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 85%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 85%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span {
    width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(6) .bar span {
    width: 95%;
}

/*La partie contact */


#contact {
    position: relative;
    width: 100%;
    margin-top: 20vh;
}

fieldset {
    position: relative;
    height: 50vh;
    max-width: 800px;
    outline: none;
    border: none;
    background-color: white;
}

input {
    width: 40%;
    height: 10%;
    font-size: 100%;
    margin: 4%;
    border-top: none;
    border-right: none;
    border-left: none;
    opacity: 0.5;
}

input:invalid {
    border-top: none;
    border-right: none;
    border-left: none;
}

input:hover {
    border-color: greenyellow;
}

input:focus {
    outline: none;
    border-color: var(--logo);
}

textarea {
    position: relative;
    height: 50%;
    width: 93%;
    opacity: 0.5;
    text-align: center;
    font-size: 200%;
    transition: 1s ease;
}

textarea:focus {
    text-align: initial;
    font-weight: bold;
    opacity: 0.9;
    outline: none;
    border-color: var(--logo);
}

textarea:active {
    text-align: left;
}

.bouton {
    position: relative;
    background-color: black;
    opacity: 0.6;
    color: white;
    left: 25%;
    border-bottom: none;
    transform: scale();
    transition: transform 1s ease;
}

.bouton:hover {
    background-color: var(--logo);
    transform: scale(1.1);
}



/* Le footer de la page */



footer {
    position: relative;
    width: 100%;
    height: 50vh;
    margin-top: 20vh;
    background-color: rgba(0, 0, 0, 0.705);
}

footer h1 {
    color: white;
    display: flex;
    justify-content: center;
}

footer p,
footer h2 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

footer div i {
    color: white;
    font-size: 30px;
    display: block;
    border: 10px solid white;
    border-radius: 50%;
    overflow: hidden;
    transition: .6s ease-in;
}

footer div {
    display: flex;
    justify-content: center;
}

footer a {
    display: block;
    position: relative;
    height: 30px;
    width: 30px;
    margin: 20px;
}


footer div i::before {
    content: '';
    width: 0;
    transition: .6s ease;
}

footer div i:hover::before {
    width: 30px;
    background-color: var(--logo);
}

footer i:hover {
    border-color: var(--logo);
}


.navbar {
    background-color: var(--logo);
}



/*media queries*/

@media (max-width:600px) {


    .nav {
        position: absolute;
        display: flex;
        width: 60vw;
        flex-direction: column;
        top: 25vh;
        border: .2px solid white;
        height: 40vh;
        left: 33vw;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.493);
        display: none;
    }

    .nav a {
        display: block;
        margin: 2vh;
    }



    header h1 {
        position: relative;
        bottom: 40vh;
        font-size: 8vw;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .image {
        margin-top: 15vh;
    }

    .propos p {
        font-size: 16px;
        width: 100%;
    }

    .logo {
        position: absolute;
        font-size: 50px;
        text-decoration: none;
        color: black;
    }

    #menu-icon {
        display: block;
        position: absolute;
        top: 19vh;
        transition: .6s ease;
    }

    #menu-icon:active {
        color: var(--logo);
    }

    #fermer {
        position: absolute;
        top: 19vh;
        right: 5vw;
        font-size: 40px;
        color: var(--logo);
        cursor: pointer;
        object-fit: cover;
        display: none;
        transition: .6s ease;
    }

    #fermer:active {
        background-color: white;
    }


    input {
        width: 80%;
    }

    .bouton {
        left: 0;
        width: 30%;
    }
}


/* les addlist  */

@media(min-width:601px) {
    .scrollbar {
        box-shadow: 4px 4px 4px 6px rgba(0, 0, 0, 0.24);
        top: 0;
        position: fixed;
        z-index: 100;
        background-color: #fff;
    }

    .scrollbar a{
        margin-top: 2vh;
        margin-left: 2vw;
    }

    .scrollimage {
        height: 0;
    }
}


/*Animation du Bienvu*/
@media(min-width:600px) {
.ml5 {
    position: relative;
    font-weight: 300;
    font-size: 4.5em;
    color: white;
  }
  
  .ml5 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1em;
  }
  
  .ml5 .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color:white;
    transform-origin: 0.5 0;
  }
  
  .ml5 .ampersand {
    font-family: Baskerville, serif;
    font-style: italic;
    font-weight: 400;
    width: 1em;
    margin-right: -0.1em;
    margin-left: -0.1em;
  }
  
  .ml5 .letters {
    display: inline-block;
    opacity: 0;
  }
      }
